html, body {
  margin: 0;
  padding: 0;
}

h2 {
    clear: both;
    text-transform: capitalize;
    font-family: Verdana;
    margin: 1em 0;
    background: darkblue;
    color: white;
    position: relative;
    top: 1em;
    margin-bottom: 2em;
}

.tweet span {
  cursor: pointer;
}

.tweet {
    width: 21vw;
    height: 20vh;
    float: left;
    margin: 0.5em;
    background: rgba(180,200,255,0.1);
    border: 1px solid lightblue;
    padding: 0.5em;
    position: relative;
}

.tweet.delete {
  background: red;
  color: white;
}

.tweet a {
  position: absolute;
  right: 0;
  bottom: 0;
}

#delete-them button {
  position: fixed;
  top: 1em;
  right: 1em;
  background: red;
  color: white;
  font-variant: small-caps;
  font-size: 1.5rem;
  z-index: 10;
}

.hidden {
  display: none!important;
}
